<div class="portlet box purple-plum">
	<div class="portlet-title">
		<div class="caption">
			Advocacy session type
		</div>
	</div>
	<div class="portlet-body">
		<div ng-controller="uiGridAdvocacySessionTypeTableCtrl" ng-cloak>
			<!--<button type="button" id="addData" class="btn btn-success" ng-click="addData()">Add Data</button>-->
			<button ng-click="addRow()" >Add</button>
			<button ng-click="removeRow()" >Delete</button>
			<br>
			<div id="grid2" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit
				 ui-grid-row-edit ui-grid-selection ui-grid-exporter
				 ui-grid-resize-columns
				 class="grid">
				<div class="watermark" ng-show="!gridOptions.data.length && dataFetched">No data available</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="portlet box purple-plum">-->
	<!--<div class="portlet-title">-->
		<!--<div class="caption">-->
			<!--Storage requirements-->
 		<!--</div>-->
 	<!--</div>-->
	<!--<div class="portlet-body">-->
		<!--<table id="storageTable" class="display" cellspacing="0" width="100%">-->
	        <!--<thead>-->
	            <!--<tr>-->
	                <!--<th>Detail</th>-->
					<!--<th>Project</th>-->
					<!--<th>Expected Storage (GB)</th>-->
					<!--<th>Expected Storage Cost (GBP)</th>-->
	                <!--<th>Dataset Size (GB)</th>-->
			        <!--<th>Project Start</th>-->
			        <!--<th>Project End</th>-->
			        <!--<th>Dataset PID</th>-->
	            <!--</tr>-->
	        <!--</thead>	-->
	        <!--<div ng-controller="storageTableCtrl" ng-cloak>-->
		  		<!--<tbody>-->
		  		<!--</tbody>-->
	  		<!--</div>-->
		<!--</table>-->
	<!--</div>-->
<!--</div>-->