#searchFilters {
	display:inline-block;
	float: right;
	margin-top: -17px;
	margin-bottom: 10px;
}

#searchFiltersText {
	font-size: 150%;
	display:inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 2px;
}

#searchFiltersButton {
	display:inline-block;
	float: right;
}

#reportrange{
	margin-top: -59px;
}