#searchFilters {
	display:inline-block;
	float: right;
	margin-top: -10px;
	margin-bottom: 10px;
}

#searchFiltersText {
	font-size: 120%;
	display:inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}

#searchFiltersButton {
	display:inline-block;
	float: right;
}

#reportrange{
	margin-top: -50px;
}