#searchFilters {
	/*display:inline-block;*/
	float: left;
	/*margin-top: -7px;*/
	/*margin: 20px;*/
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 5px;
	outline: solid 1px;
	outline-offset: 10px;
	outline-color: #d3d3d3;
	width: 96%;
}

#searchFiltersText {
	font-size: 150%;
	/*display:inline-block;*/
	float: right;
	margin-right: 15px;
	margin-top: 0px;
}

#searchFiltersButton {
	/*display:inline-block;*/
	float: left;
	height: 35px;
}

.filterElement{
	/*display:inline-block;*/
	float: left;
	height: 35px;
	margin-right: 10px;
	margin-top: 1px;
}

#filterToggleButton{
	margin-bottom: 10px;
	/*margin-top: -10px;*/
}

.loggedInUserName {
	color: white;
}
.loggedInZone{
	margin-bottom: 5px;
	margin-right: 15px;
}

.advocacyNotes{
	width: 500px;
}

.advocacyParticipants {
	width: 90px;
}

.advocacyContent {
	width: 250px;
}
