<div class="portlet box red-intense">
	<div class="portlet-title">
		<div class="caption">
			Projects without data management plans
 		</div>
 	</div>
	<div class="portlet-body">
		<table id="noDmpTable" class="display" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>Detail</th>
	                <th>Project</th>
				    <th>Lead Faculty</th>
			        <th>Lead Dept</th>
	            </tr>
	        </thead>	
	  		<tbody>
	  		</tbody>
		</table>
	</div>
</div>

<script>
   NoDmp.init(); 
</script>