<div class="portlet box green-jungle">
	<div class="portlet-title">
		<div class="caption">
			RCUK access compliance
 		</div>
 	</div>
	<div class="portlet-body">
		<table id="rcukAccessComplianceTable" class="display" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>Detail</th>
	                <th>Publication PID</th>
	                <th>Publication Date</th>
	                <th>Data Access Statement</th>
	                <th>Funder</th>
	                <th>Project</th>
	            </tr>
	        </thead>	
	  		<tbody>
	  		</tbody>
		</table>
	</div>
</div>

<script>
   RcukAccessCompliance.init(); 
</script>
